<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet home JPA</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/page.css" />
    <link rel="stylesheet" href="../css/formulario-cadastrar.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
</head>

<body>
    <div class="header">
        <img src="../images/logo.jpg" />
        <span class="material-icons open-menu">menu</span>
    </div>
    <div class="menu">
        <div class="nav-header">
            <span>Menu</span>
            <span class="material-icons close-menu">close</span>
        </div>
        <a href="/app/reservas" class="item-menu">
            <span class="material-icons">book_online</span>
            <span>Reservas</span>
        </a>
        <a href="/app/anuncios" class="item-menu">
            <span class="material-icons">apartment</span>
            <span>Anúncios</span>
        </a>
        <a href="/app/relatorio" class="item-menu">
            <span class="material-icons">bar_chart</span>
            <span>Relatórios</span>
        </a>
        <a href="/app/" class="item-menu">
            <span class="material-icons">logout</span>
            <span>Sair</span>
        </a>
    </div>
    <div class="content">
        {{{body}}}
    </div>
    <div class="screen"></div>
    <script src="/js/utils.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>