<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet home JPA</title>
    <script>
        const token = localStorage.getItem('token');
        if (!token) location.href = '/';
    </script>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/page.css" />
    <link rel="stylesheet" href="../css/modal.css" />
    <link rel="stylesheet" href="../css/cadastro.css" />
    <link rel="stylesheet" href="../css/material.icon.css">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <script src="../js/moment.min.js"></script>
    <script src="../js/html2pdf.bundle.min.js"></script>
</head>

<body>
    <div class="header">
        <img src="../images/logo.jpg" />
        <span class="material-icons open-menu">menu</span>
    </div>
    <div class="menu">
        <div class="nav-header">
            <span>Menu</span>
            <span class="material-icons close-menu">close</span>
        </div>
        <a href="/app/reservas" class="item-menu">
            <span class="material-icons">book_online</span>
            <span>Reservas</span>
        </a>
        <a href="/app/anuncios" class="item-menu">
            <span class="material-icons">apartment</span>
            <span>Anúncios</span>
        </a>
        <a href="/app/despesas" class="item-menu">
            <span class="material-icons">bar_chart</span>
            <span>Despesas</span>
        </a>
        <a href="javascript:void(0)" class="logout item-menu">
            <span class="material-icons">logout</span>
            <span>Sair</span>
        </a>
    </div>
    <div class="content">
        {{{body}}}
    </div>
    <div class="screen"></div>
    <script src="/js/utils.js"></script>
    <script src="/js/main.js"></script>
    <script src="/index.js"></script>
</body>

</html>