<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet home JPA</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/modal.css" />
    <link rel="icon" type="image/png" href="../images/favicon.png">
</head>

<body>

    <img src="../images/logo.jpg" />

    <p>A <strong>SWEET HOME JPA</strong> é uma empresa especializada na administração de propriedades para aluguel de
        temporada, com foco nas plataformas Airbnb e Booking. Oferecemos serviços completos de gestão, desde o
        cadastramento
        e otimização dos anúncios até o atendimento de hóspedes e manutenção das propriedades. Nosso objetivo é garantir
        uma
        experiência excelente tanto para os proprietários, que veem suas propriedades gerando receita de forma prática e
        segura, quanto para os hóspedes, que desfrutam de acomodações confortáveis e bem cuidadas. Com atenção aos
        detalhes
        e um suporte dedicado, maximizamos a rentabilidade e a satisfação dos nossos clientes.</p>
    <a href="javascript:void(0)" class="open-modal">ACESSAR</a>

    <div class="contatos">
        <div>
            <span class="material-icons">chat</span>
            <a href="https://wa.me/5583987847403">83 98784 - 7403</a>
        </div>
        <div>
            <span class="material-icons">mail</span>
            <a href="mailto:adrianafernandes66@hotmail.com">adrianafernandes66@hotmail.com</a>
        </div>
    </div>

    <div class="modal">
        <div class="header">
            <strong class="title">Acessar painel</strong>
            <span class="material-icons close-modal">close</span>
        </div>
        <div class="content">
            <form>
                <label>
                    <input name="login" required placeholder="Seu login" />
                </label>
                <label>
                    <input type="password" name="password" required placeholder="Sua senha" />
                </label>
                <label>
                    <button>ACESSAR</button>
                </label>
            </form>
        </div>
    </div>

    <div class="screen"></div>
    <script src="../js/utils.js"></script>
    <script src="../js/login.js"></script>
</body>

</html>