div.modal form {
    display: grid;
    padding: 15px;
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
    grid-gap: 15px;

    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

div.modal form::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #fff;
    background-color: #fff;
}

div.modal form::-webkit-scrollbar {
    width: 3px;
    background-color: #fff;
}

div.modal form::-webkit-scrollbar-thumb {
    background-color: #000;
}

div.modal label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.modal label select {    
    padding: 11px 10px;
    outline: none;
    border: solid thin #ccc;  
}

div.modal option {    
    font-style: normal; 
    font-size: 1em; 
}

div.modal label input {
    padding: 12px 10px;
    outline: none;
    border: solid thin #ccc;
}

div.modal label span {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 5px;
    font-weight: bold;
}

div.modal form button {
      
    outline: none;
    background-color: #000;
    border: solid thin #000;
    font-weight: 500;
    color: #fff;
    height: 41px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

div.modal form button:hover { 
    background-color: #fff;
    color: #000;
}