td.Pendente {
    background-color: #ffc000;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

td.Feita {
    background-color: #00b050;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

td.Estádia.em.andamento {
    background-color: #00b050;
    color: #fff;
}

td.Estádia.encerrada {
    background-color: #ff0000;
    color: #fff;
}


button.open-modal {
    width: 150px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    text-align: center;
    margin: 15px auto;
    background-color: #305496;
    color: #fff;
    cursor: pointer;
}

div.title {
    background-color: #305496;
    font-size: 14px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    text-align: center;
    color: #fff;
    width: 100%;
    border-top: solid 1px #333;
    border-left: solid 1px #333;
    border-right: solid 1px #333;
}

div.list {
    height: calc(100vh - 290px);
    overflow-y: auto;
    overflow-x: hidden;

}

table {
    width: 100%;
    border: solid thin #333;
    border-spacing: 0;
}

table thead td {
    background-color: #e7e6e6;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    border: solid thin #333;
}

table tbody td {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    padding: 7px 0;
    border: solid thin #333;
}

table tbody span {
    font-size: 20pt;
    cursor: pointer;
}

table tbody a {
    font-family: calibri;
    color: blue;
}

form.pesquisar-reservas {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

form.pesquisar-reservas label {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5px;
}

form.pesquisar-reservas input,
select {
    padding: 12px 10px;
    outline: none;
    border: solid thin #ccc;
}

form.pesquisar-reservas select,
input[type=datetime-local] {
    padding: 11px 10px !important;
    outline: none;
    border: solid thin #ccc;
}

form.pesquisar-reservas span {
    color: #666;
    font-size: 0.9em;
    margin-bottom: 5px;
    font-weight: bold;
}

form.pesquisar-reservas button {

    outline: none;
    background-color: #000;
    border: solid thin #000;
    font-weight: 500;
    color: #fff;
    height: 41px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

form.pesquisar-reservas button:hover {
    background-color: #fff;
    border: solid thin #000;
    color: #000;
}