<button class="open-modal">Nova reserva</button>

<div class="title">LISTA DE RESERVAS</div>

<div class="modal">
    <div class="header">
        <strong class="title">Cadastrar reserva</strong>
        <span class="material-icons close-modal">close</span>
    </div>
    <div class="content">
        <form class="cadastro-reserva">
            <label>
                <span>Nome</span>
                <input name="nome" required value="Wedson Santos" />
            </label>
            <label>
                <span>Telefone</span>
                <input name="telefone" type="tel" value="(82) 98176 - 1793" />
            </label>
            <label>
                <span>Acomodação</span>
                <select name="acomodacao">
                    <option value="">Selecione uma acomodação</option>
                    <option selected value="Simple Flat super agradável">Simple Flat super agradável</option>
                    <option value="Apartamento amplo proximo a praia do Bessa">Apartamento amplo proximo a praia do
                        Bessa</option>
                    <option value="Flat moderno com vista incrível">Flat moderno com vista incrível</option>
                </select>
            </label>
            <label>
                <span>Valor estádia</span>
                <input name="preco" type="number" value="1000" required />
            </label>
            <label>
                <span>Check-in</span>
                <input name="check_in" type="datetime-local" value="2025-02-19 14:00:00" required />
            </label>
            <label>
                <span>Check-in</span>
                <input name="check_out" type="datetime-local" value="2025-02-19 14:00:00" required />
            </label>
            <label>
                <span>Hospedes</span>
                <input name="hospedes" type="number" value="6" required />
            </label>
            <label>
                <button>Cadastrar</button>
            </label>
        </form>
    </div>
</div>

<script>

    document.querySelector('input[name=telefone]').addEventListener('blur', function (e) {
        var x = e.target.value.replace(/\D/g, '').match(/(\d{2})(\d{5})(\d{4})/);
        e.target.value = '(' + x[1] + ') ' + x[2] + '-' + x[3];
    });

</script>