<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweet home JPA</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/formulario-cadastrar.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
    <div class="header">
        <img src="images/logo.jpg" />
        <span class="material-icons open-menu">menu</span>
    </div>
    <div class="menu">
        <div class="nav-header">
            <span>Menu</span>
            <span class="material-icons close-menu">close</span>
        </div>
        <div class="item-menu">
            <span class="material-icons">book_online</span>
            <span>Reservas</span>
        </div>
        <div class="item-menu">
            <span class="material-icons">apartment</span>
            <span>Anúncios</span>
        </div>
        <div class="item-menu">
            <span class="material-icons">bar_chart</span>
            <span>Relatórios</span>
        </div>
        <div class="item-menu">
            <span class="material-icons">logout</span>
            <span>Sair</span>
        </div>
    </div>
    <div class="screen"></div>
    {{{body}}}
    <script src="/js/main.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>